.open-page {
    background-color: #F8F8F8;
}

#survey-title {
    font-size: large;
}

.button-inactive {
    background-color: white;
    color: #007aff;
}

.uppercase {
    text-transform: uppercase;
}